.weather-widget {
  border-radius: 2rem;
  box-shadow: 0 0 0.25rem 0.25rem #0000000f;
  display: flex;
  width: 20rem;
  height: 10rem;
  padding: 1rem;
  background: var(--background-gradient);
  background-size: 180% 180%;
  animation: gradient-animation 20s ease infinite;
  font-family: sans-serif;
  position: relative;
  overflow: hidden;

  &[data-theme="sunny"] {
    --background-gradient: linear-gradient(300deg,#ffffff,#89cff0,#b3dded); 
    --sphere-color: #ffed29;
    --sphere-shadow-color: #ffff0050;
  }

  &[data-theme="dark"] {
    --background-gradient: linear-gradient(300deg,#5b5b5b,#19262c,#3c4c53); 
    --sphere-color: #d1d0c2;
    --sphere-shadow-color: #d1d0c250;
  }

  &[data-theme="cloudy"] {
    --background-gradient: linear-gradient(300deg,#ffffff,#c1d4dd,#b3dded); 
    --sphere-color: #fff262;
    --sphere-shadow-color: #ffff0050;

    &::before {
      content: "";
      position: absolute;
      display: block;
      right: -1rem;
      top: 2rem;
      background-color: white;
      mask: url(images/clouds.svg);
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      -webkit-mask: url(images/clouds.svg);
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: top right;
      width: 12rem;
      height: auto;
      aspect-ratio: 2 / 1;
      z-index: 5;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, -40%);
    width: 12rem;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background-color: var(--sphere-color);
    box-shadow: 0 0 0.5rem 0.5rem var(--sphere-shadow-color);
  }

  & ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0;
    color: white;
    background-color: #00000020;
    box-shadow: 0 0 0.5rem 0.25rem #00000010;

    & li:first-child {
      font-weight: bold;
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
    }
  
    & li:nth-child(2) {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  }
} 

@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.rating-widget {
  --star-color-default: #858585;
  --star-color-hover: #FFD700;

  width: fit-content;

  & .star-button {
    color: var(--star-color-default);
    font-size: 1.5rem;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  & .star-button:not(:last-child) {
    padding-right: 0.175rem;
  }

  &:hover .star-button {
    color: var(--star-color-hover);
  }

  & .star-button:hover ~ .star-button {
    color: var(--star-color-default);
  }
}